<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Właściciel pliku</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="center-content">
                            <img src="static/images/user.png" class="avatar img-circle img-thumbnail avatar-max-size" alt="avatar">
                        </div>

                        <div class="panel panel-default margin10">
                            <div class="panel-body center-content content-important">
                                <ul class="list-unstyled center-content">
                                    <li class="title">Kacper Harasim</li>
                                    <li>iOS Developer</li>
                                </ul>
                                <a href="#" class="btn btn-success btn-sm margin5">Wyślij wiadomość</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-files-o"></i> Pliki użytkownika</div>
                <div class="panel-body">
                    TODO pliki użytkownika
                </div>
            </div>
        </div>
    </div>
</div>